#!/usr/bin/env python
# -*- coding: utf-8 -*-
import os.path

from satosa.backends.openid_connect import OpenIdBackend
from satosa.plugin_base.endpoint import BackendModulePlugin

XMLSEC_PATH = '/usr/local/bin/xmlsec1'


def full_path(local_file):
    basedir = os.path.abspath(os.path.dirname(__file__))
    return os.path.join(basedir, local_file)


NAME = "google"
MODULE = OpenIdBackend


class OpenidPlugin(BackendModulePlugin):
    def __init__(self, base_url):
        module_base = "%s/%s" % (base_url, NAME)
        config = {
            "authz_page": NAME,
            "acr_values": None,
            "verify_ssl": False,
            "op_url": "https://accounts.google.com",
            "state_id": "",
            "client": {
                "client_registration": {
                    "client_id": "",
                    "client_secret": "",
                    "redirect_uris": ["%s" % module_base],
                },
                "behaviour": {
                    "response_type": "code",
                    "scope": ["openid", "profile", "email"]
                },
                "userinfo_request_method": "GET",
                "allow": {
                    "issuer_mismatch": True,
                    "userinfo_request_method": "GET"
                }
            },
        }
        super(OpenidPlugin, self).__init__(OpenIdBackend, NAME, config)