module: satosa.backends.openid_connect.OpenIdBackend
name: google
plugin: BackendModulePlugin
config:
  acr_values: Null
  authz_page: <name>
  client:
    allow: {issuer_mismatch: true, userinfo_request_method: GET}
    behaviour:
      response_type: code
      scope: [openid, profile, email]
    client_registration:
      client_id:
      client_secret:
      redirect_uris: [<base_url>/<name>]
    userinfo_request_method: GET
  op_url: https://accounts.google.com
  state_id: <name>
  verify_ssl: true

