module: satosa.backends.linkedin.LinkedInBackend
name: linkedin
config:
  authz_page: linkedin/auth/callback
  base_url: https://www.example.org
  client_config:
    client_id: 12345678
  client_secret: a2s3d4f5g6h7j8k9
  scope:
    - r_liteprofile
	- r_emailaddress
  response_type: code
  server_info:
    authorization_endpoint: 'https://www.linkedin.com/oauth/v2/authorization'
    token_endpoint: 'https://www.linkedin.com/oauth/v2/accessToken'
    user_info: 'https://api.linkedin.com/v2/me'
    email_info: 'https://api.linkedin.com/v2/emailAddress?q=members&projection=(elements*(handle~))'
  entity_info:
    organization:
      display_name:
      - ["LinkedIn", "en"]
      name:
      - ["LinkedIn", "en"]
      url:
      - ["https://www.linkedin.com/", "en"]
    ui_info:
      description:
      - ["LinkedIn oauth", "en"]
      display_name:
      - ["LinkedIn", "en"]
