module: satosa.backends.openid_connect.OpenIdBackend
name: openid_connect
plugin: BackendModulePlugin
config:
  acr_values: Null
  authz_page: <name>
  client:
    behaviour:
      response_type: code
      scope: [openid, profile, email, address, phone]
    client_info:
      application_name: SATOSA
      application_type: web
      contacts: [ops@example.com]
      redirect_uris: [<base_url>/<name>]
      subject_type: public
  op_url: https://op.example.com
  state_id: <name>
  verify_ssl: true
