module: satosa.backends.openid_connect.OpenIdBackend
name: openid_connect
plugin: BackendModulePlugin
config:
  acr_values: [PASSWORD]
  authz_page: <name>
  client:
    behaviour:
      response_type: code
      scope: [openid, profile, email, address, phone]
    client_info:
      application_name: SATOSA
      application_type: web
      contacts: [ops@example.com]
      post_logout_redirect_uris: [<base_url>/<name>/logout]
      redirect_uris: [<base_url>/<name>/sauthz_cb]
      response_types: [code]
      subject_type: public
    userid: https://localhost:7092
  op_url: https://localhost:7092
  state_id:
  verify_ssl: false
