{
  "the_client_id": {
    "response_types": ["code", "and", "other", "types"],
    "client_id": "the_client_id",
    "client_secret": "the_client_secret",
    "redirect_uris": [
      "http://example.org/rp/the_redirect_uri"
    ]
  }
}
