attributes:
  address:
    openid: [address.street_address]
    orcid: [address]
    saml: [postaladdress]
  displayname:
    openid: [nickname]
    orcid: [displayname]
    github: [login]
    saml: [displayName]
  edupersontargetedid:
    facebook: [id]
    linkedin: [id]
    orcid: [edupersontargetedid]
    github: [id]
    openid: [sub]
    saml: [eduPersonTargetedID]
  givenname:
    facebook: [first_name]
    linkedin: [email-address]
    orcid: [givenname]
    openid: [given_name]
    saml: [givenName]
  mail:
    facebook: [email]
    linkedin: [email-address]
    orcid: [mail]
    github: [email]
    openid: [email]
    saml: [email, emailAddress, mail]
  name:
    facebook: [name]
    orcid: [name]
    github: [name]
    openid: [name]
    saml: [cn]
  surname:
    facebook: [last_name]
    linkedin: [lastName]
    orcid: [surname]
    openid: [family_name]
    saml: [sn, surname]
user_id_from_attrs: [edupersontargetedid]
user_id_to_attr: edupersontargetedid
