#!/usr/bin/env python
# -*- coding: utf-8 -*-
from importlib import import_module
from saml2 import BINDING_HTTP_REDIRECT
from saml2 import BINDING_HTTP_POST
from saml2.entity_category.edugain import COC
from saml2.entity_category.swamid import RESEARCH_AND_EDUCATION, HEI, \
    SFS_1993_1153, NREN, EU
from saml2.saml import NAME_FORMAT_URI
from saml2.saml import NAMEID_FORMAT_TRANSIENT
from saml2.saml import NAMEID_FORMAT_PERSISTENT
import os.path
from vopaas_proxy.util.attribute_module import IdentityAttributes

# try:
#     from saml2.sigver import get_xmlsec_binary
# except ImportError:
#     get_xmlsec_binary = None
xmlsec_path = '/usr/local/bin/xmlsec1'


def full_path(local_file):
    basedir = os.path.abspath(os.path.dirname(__file__))
    return os.path.join(basedir, local_file)


HOST = 'localhost'
PORT = 8090

BASE = 'https://%s:%s' % (HOST, PORT)

# Discovery to server if proxy is used with multiple IdP's
DISCO_SRV = "http://localhost/role/idp.ds"

ATTRIBUTE_MODULE = IdentityAttributes()

BACKEND_MODULES = ["saml2_backend_conf"]

ENDPOINTS = {"single_sign_on_service": {BINDING_HTTP_REDIRECT: "sso/redirect",
                                        BINDING_HTTP_POST: "sso/post"}}

CONFIG = {
    "entityid": "%s/proxy.xml" % BASE,
    "description": "A SAML2SAML proxy",
    "entity_category": [COC, RESEARCH_AND_EDUCATION, HEI, SFS_1993_1153, NREN,
                        EU],
    "valid_for": 168,
    "service": {
        "idp": {
            "name": "Proxy IdP",
            "endpoints": {
                "single_sign_on_service": [],
            },
            "policy": {
                "default": {
                    "lifetime": {"minutes": 15},
                    "attribute_restrictions": None,  # means all I have
                    "name_form": NAME_FORMAT_URI,
                    "entity_categories": ["edugain"],
                    "fail_on_missing_requested": False
                },
            },
            "subject_data": "./idp.subject",
            "name_id_format": [NAMEID_FORMAT_TRANSIENT,
                               NAMEID_FORMAT_PERSISTENT],
            "want_authn_requests_signed": False
        },
    },
    "debug": 1,
    "key_file": full_path("pki/new_server.key"),
    "cert_file": full_path("pki/new_server.crt"),
    "metadata": {
        "local": ["/Users/mathiashedstrom/work/DIRG/pysaml2/example/sp-wsgi/sp.xml",
                  "/Users/mathiashedstrom/work/DIRG/pysaml2/example/idp2/idp.xml"],
    },
    # This database holds the map between a subjects local identifier and
    # the identifier returned to a SP
    "xmlsec_binary": xmlsec_path,
    "logger": {
        "rotating": {
            "filename": "idp.log",
            "maxBytes": 500000,
            "backupCount": 5,
        },
        "loglevel": "debug",
    }
}


def add_module(config_path):
    mod_conf_file = import_module(config_path)
    config = {"backends": {mod_conf_file.PROVIDER: {"module": mod_conf_file.MODULE,
                                                    "config": mod_conf_file.CONFIG}}}
    CONFIG.update(config)


for module in BACKEND_MODULES:
    add_module(module)
