CherryPy==3.8.0
Beaker==1.7.0
Werkzeug==0.10.4
git+https://github.com/its-dirg/pysaml2.git
git+https://github.com/rohe/pyjwkest.git@6928cc9c4490389b91e064422e1fe2a7ad7cf5c8#egg=pyjwkest
git+https://github.com/its-dirg/pyoidc.git@4ad7333d4afa0f2da82fdc761d8086a603f52597#egg=oic