module: satosa.micro_services.account_linking.AccountLinking
name: AccountLinking
config:
  api_url: "https://localhost:8167"
  redirect_url: "https://localhost:8167/approve"
  sign_key: "pki/account_linking.key"
  id_to_attr: "uniqueid"
