module: satosa.micro_services.account_linking.Consent
name: Consent
config:
  enable: Yes
  api_url: "https://127.0.0.1:8166"
  redirect_url: "https://localhost:8166/consent"
  sign_key: "pki/mykey.pem"