module: satosa.micro_services.attribute_modifications.FilterAttributeValues
name: AttributeFilter
config:
    attribute_filters:
        # default rules for any IdentityProvider
        "":
            # default rules for any requester
            "":
                # enforce controlled vocabulary
                eduPersonAffiliation: "^(faculty|student|staff|alum|member|affiliate|employee|library-walk-in)$"
                eduPersonPrimaryAffiliation: "^(faculty|student|staff|alum|member|affiliate|employee|library-walk-in)$"
                eduPersonScopedAffiliation: "^(faculty|student|staff|alum|member|affiliate|employee|library-walk-in)@"

        target_provider1:
            requester1:
                attr1: "^foo:bar$"
