module: satosa.micro_services.redirect_url.RedirectUrlResponse
name: RedirectUrlResponse
config:
  db_encryption_key: "WQpuhOELqGAs/ct2mujCqw"  # must be same in redirect_url_request.yaml
  redirect_attr_name: WkisRedirect
  redir_entityid: http://wkis.qss.wko.at/adfs/services/trust
