module: satosa.micro_services.custom_routing.DecideBackendByRequester
name: RequesterRouter
config:
  requester_mapping:
    requester1: Saml2 # map SAML entity with entity id 'requester1' to backend with name 'SAML2'
    requester2: openid_connect # map OIDC RP with client id 'requester2' to backend with name 'openid_connect'
