module: satosa.frontends.openid_connect.OpenIDConnectFrontend
name: OIDC
config:
  signing_key_path: frontend.key
  client_db_path: ./client_db # optional: will default to in-memory storage if not specified