module: satosa.frontends.saml2.SAMLFrontend
name: Saml2IDP
config:
  idp_config:
    organization: {display_name: Example Identities, name: Example Identities Org., url: 'http://www.example.com'}
    contact_person:
    - {contact_type: technical, email_address: technical@example.com, given_name: Technical}
    - {contact_type: support, email_address: support@example.com, given_name: Support}
    key_file: frontend.key
    cert_file: frontend.crt
    metadata:
      local: [sp.xml]

    entityid: <base_url>/<name>/proxy.xml
    service:
      idp:
        endpoints:
          single_sign_on_service: []
        name: Proxy IdP
        name_id_format: ['urn:oasis:names:tc:SAML:2.0:nameid-format:persistent', 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient']
        policy:
          default:
            attribute_restrictions: null
            fail_on_missing_requested: false
            lifetime: {minutes: 15}
            name_form: urn:oasis:names:tc:SAML:2.0:attrname-format:uri
        subject_data: ./idp.subject
        want_authn_requests_signed: false
    xmlsec_binary: /usr/bin/xmlsec1

  acr_mapping:
    "": default-LoA
    "https://accounts.google.com": LoA1

  publish_metadata: <base_url>/<name>/metadata
  endpoints:
    single_sign_on_service: {'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST': sso/post,
      'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect': sso/redirect}